In [2]:
import requests
import pandas as pd

In [7]:
#URL Generation
def generate_url(API_Key):
    base_url = "http://api.exchangeratesapi.io/v1/latest?access_key="
    final_url = base_url+API_key
    return final_url

API_key = "e61ca2e1cec53ea625cade99e6e9c497"
print(generate_url(API_key))

http://api.exchangeratesapi.io/v1/latest?access_key=e61ca2e1cec53ea625cade99e6e9c497

In [23]:
#Making a Request
def make_requests():
    req = requests.get(generate_url(API_key))
    req = req.json()
    rates = req['rates']
    return rates

rates = make_requests()

In [67]:
#Adding data in DataFrame
import numpy as np
data = []
for i in rates:
    data.append([i, rates[i]])
df = pd.DataFrame(data = data, columns = ["Country", "Rate"])
df

    Country          Rate
0       AED      4.388497
1       AFN     92.713219
2       ALL    123.241097
3       AMD    620.604242
4       ANG      2.144613
..      ...           ...
163     YER    299.083040
164     ZAR     17.343361
165     ZMK  10754.448500
166     ZMW     26.493839
167     ZWL    384.719012

[168 rows x 2 columns]